<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Blog</title>
</head>
<body>
	<div class="container">
		<center>
			<h1>Welcome to Rails</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat, assumenda facilis asperiores vero deleniti totam. Natus alias doloribus quidem sapiente! Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Laudantium, quo fugiat autem commodi soluta at quisquam dolores dolor tempora, corrupti voluptates, optio.</p>
			<hr>
			<h2>Sign up now</h2>
			<form action="">
				<input type="text" placeholder="Name"><br>
				<input type="password" placeholder="password"><br>
				<input type="submit" value="submit">
			</form>
		</center>
	</div>
</body>
</html>