<footer id="sticky-footer" class="py-1 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy;<%=link_to "Sanskar9000", "https://www.github.com/Sanskar9000", class:"text-white-50" %></small>
  </div>
</footer>